.container {
  padding: 5.2rem 7.2rem;
  position: relative;
}

.h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.label {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
}

.input {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  font-size: 1.6rem;
}

.selectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.birthOfDateContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 1.2rem;
}

.birthOfDateLabel {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
}

.inputDateOfBirth {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.selectionGenderContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex: 1;
  padding: 0 1.2rem;
}

.selectionLabel {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
}

.selectingOptions {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.options {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.2rem;
}

.registerButton {
  height: auto;
  width: 100%;
  text-align: center;
  border: none;
  background-color: #fe6b6e;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1.2rem 0;
}

.closeButton {
  border: none;
  position: absolute;
  top: 2%;
  right: 3%;
  background-color: transparent;
}
