.container {
  /* padding: 4.8rem 9.6rem; */
  position: relative;
  width: 48rem;
}

.alignment {
  padding: 4.8rem 5.2rem;
}

.h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.label {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
}

.input {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  font-size: 1.6rem;
}

.closeButton {
  border: none;
  position: absolute;
  top: 3%;
  right: 3%;
  background-color: transparent;
}

.signInButton {
  height: auto;
  width: 100%;
  text-align: center;
  border: none;
  background-color: #fe6b6e;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1.2rem 0;
}

.createAccountContainer {
  display: flex;
  justify-content: center;
}

.createAccount {
  color: #4263eb;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

.userName {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
}
