.container {
  width: 100%;
  width: 128rem;
}

.alignment {
  margin: 0 auto;
  padding: 1rem 4rem;
  display: flex;
  border: 2px solid #d1d5dc;
  border-radius: 2rem;
  justify-content: space-between;
}

.bookingArea {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d1d5dc;
  flex: 1;
  cursor: pointer;

  &:first-child {
    flex-direction: column;
  }
}

.text {
  font-size: 1.8rem;
  font-weight: 450;
  color: #fff;
}

.textWhereWillYouGo {
  font-size: 1.8rem;
  font-weight: 450;
  color: #d1d5dc;
}

.textIsNotHomePage {
  font-size: 1.8rem;
  font-weight: 450;
  color: black;
}

.addingGuest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.search {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  background-color: #f7686d;
  border-radius: 50%;
}
