.h1 {
  margin-bottom: 3rem;
}

.imgContainer {
  margin-bottom: 3rem;
}

.img {
  height: auto;
  width: 100%;
  border-radius: 2rem;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
}

.textContent {
  width: 60%;
}

.priceTable {
  position: sticky;
  width: 35%;
  /* height: 35rem; */
  height: fit-content;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: 0.6rem 0.4rem;
}
