.container {
  position: relative;
  padding: 4.8rem 6rem;
}

.h1 {
  letter-spacing: 0.2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
  column-gap: 2.4rem;
}

.closeButton {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.yesButton {
  padding: 1.2rem 2.4rem;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  background-color: #ff6b6b;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.noButton {
  padding: 1.2rem 2.4rem;
  border: 1px solid #d1d5dc;
  border-radius: 1rem;
  background-color: #e9ecef;
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.2rem;
}
