.nav {
  /* background-color: #fff; */
  padding: 2rem 0;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.activeNav {
  background-color: #fff;
  color: black;
  padding: 2rem 0;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  margin: 0 7.7rem;
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 1;
}

.image {
  height: 3.2rem;
  width: auto;
}

.text {
  color: #fe6b6f;
  margin-left: 1.2rem;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  flex: 1;
}

.linkElement {
  /* margin-right: 1rem; */
  font-size: 2rem;
  color: #fff;
  line-height: 1;
}

.linkElementScrolling {
  /* margin-right: 1rem; */
  font-size: 2rem;
  color: black;
  line-height: 1;
}

.linkElement:hover {
  color: #fe6b6f;
}

.login {
  color: black;
}

.button {
  height: auto;
  width: auto;
  border-radius: 2rem;
  background-color: #fe6b6f;
  display: flex;
  align-items: center;
  border: none;
}

.avatarContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.avatar {
  height: 4rem;
  width: 4rem;
}

.logContainer {
  border: 2px solid #d1d5dc;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 1.2rem 3.6rem;
  position: absolute;
  top: 110%;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  margin: 1rem;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: transparent;
}

.action:hover {
  background-color: #fe6b6f;
}

.closeButton {
  height: 1.6rem;
  width: 1.6rem;
}
