@media (min-width: 600px) and (max-width: 1024px) {
  .section {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .section {
    max-width: 128px;
    margin: 0 auto;
  }
}

@media (min-width: 1441px) {
  .section {
    max-width: 1536px;
    margin: 0 auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15rem 0 0 0;
}
